<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cantonfair.exam.mapper.CandidateMapper">

    <resultMap id="BaseResultMap" type="com.cantonfair.exam.entity.Candidate">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="name" property="name"/>
        <result column="gender" property="gender"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="avatar" property="avatar"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, username, password, name, gender, phone, email, avatar, create_time, update_time
    </sql>

    <select id="selectById" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from candidate
        where id = #{id}
    </select>

    <select id="selectByUsername" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from candidate
        where username = #{username}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from candidate
        order by create_time desc
    </select>

    <select id="selectByCondition" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from candidate
        <where>
            <if test="username != null and username != ''">
                and username like concat('%', #{username}, '%')
            </if>
            <if test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
        </where>
        order by create_time desc
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into candidate(username, password, name, gender, phone, email, avatar)
        values(#{username}, #{password}, #{name}, #{gender}, #{phone}, #{email}, #{avatar})
    </insert>

    <update id="update">
        update candidate
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="email != null">email = #{email},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteById">
        delete from candidate where id = #{id}
    </delete>

    <delete id="deleteBatch">
        delete from candidate where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="updatePassword">
        update candidate set password = #{password} where id = #{id}
    </update>

</mapper>