<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cantonfair.exam.mapper.PaperMapper">

    <resultMap id="BaseResultMap" type="com.cantonfair.exam.entity.Paper">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="creator_id" property="creatorId"/>
        <result column="creator_name" property="creatorName"/>
        <result column="department_id" property="departmentId"/>
        <result column="department_name" property="departmentName"/>
        <result column="total_score" property="totalScore"/>
        <result column="duration" property="duration"/>
        <result column="single_count" property="singleCount"/>
        <result column="multi_count" property="multiCount"/>
        <result column="judge_count" property="judgeCount"/>
        <result column="fill_count" property="fillCount"/>
        <result column="essay_count" property="essayCount"/>
        <result column="single_score" property="singleScore"/>
        <result column="multi_score" property="multiScore"/>
        <result column="judge_score" property="judgeScore"/>
        <result column="fill_score" property="fillScore"/>
        <result column="essay_score" property="essayScore"/>
        <result column="description" property="description"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, name, creator_id, creator_name, department_id, department_name, total_score, duration,
        single_count, multi_count, judge_count, fill_count, essay_count,
        single_score, multi_score, judge_score, fill_score, essay_score, description,
        status, create_time, update_time
    </sql>

    <select id="selectById" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from paper
        where id = #{id}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from paper
        order by create_time desc
    </select>

    <select id="selectByCondition" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from paper
        <where>
            <if test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="creatorId != null">
                and creator_id = #{creatorId}
            </if>
            <if test="departmentId != null">
                and department_id = #{departmentId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="selectByCreatorId" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from paper
        where creator_id = #{creatorId}
        order by create_time desc
    </select>

    <select id="selectByDepartmentId" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from paper
        where department_id = #{departmentId}
        order by create_time desc
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into paper(name, creator_id, creator_name, department_id, department_name, total_score,
        duration, single_count, multi_count, judge_count, fill_count, essay_count,
        single_score, multi_score, judge_score, fill_score, essay_score, description, status)
        values(#{name}, #{creatorId}, #{creatorName}, #{departmentId}, #{departmentName}, #{totalScore},
        #{duration}, #{singleCount}, #{multiCount}, #{judgeCount}, #{fillCount}, #{essayCount},
        #{singleScore}, #{multiScore}, #{judgeScore}, #{fillScore}, #{essayScore}, #{description}, #{status})
    </insert>

    <update id="update">
        update paper
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="totalScore != null">total_score = #{totalScore},</if>
            <if test="duration != null">duration = #{duration},</if>
            <if test="singleCount != null">single_count = #{singleCount},</if>
            <if test="multiCount != null">multi_count = #{multiCount},</if>
            <if test="judgeCount != null">judge_count = #{judgeCount},</if>
            <if test="fillCount != null">fill_count = #{fillCount},</if>
            <if test="essayCount != null">essay_count = #{essayCount},</if>
            <if test="singleScore != null">single_score = #{singleScore},</if>
            <if test="multiScore != null">multi_score = #{multiScore},</if>
            <if test="judgeScore != null">judge_score = #{judgeScore},</if>
            <if test="fillScore != null">fill_score = #{fillScore},</if>
            <if test="essayScore != null">essay_score = #{essayScore},</if>
            <if test="description != null">description = #{description},</if>
            <if test="status != null">status = #{status},</if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteById">
        delete from paper where id = #{id}
    </delete>

    <delete id="deleteBatch">
        delete from paper where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>